<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库性能测试</title>
    <style>
        a {
            display: inline-block;
            margin: 10px;
        }
    </style>
</head>
<body>

    <a href="compare_write">添加性能比较</a>
    <a href="compare_read">读取性能比较</a>
    <a href="compare_update">更新性能比较</a>
    <a href="compare_delete">删除性能比较</a>
    <br/>
    <a href="table_write">添加数据库测试数据</a>
    <a href="table_read">读取数据库测试数据</a>
    <a href="table_update">更新数据库测试数据</a>
    <a href="table_delete">删除数据库测试数据</a>
    <br/>
    <a href="compare_vm_size">VmSize测试数据比较</a>
    <a href="compare_vm_rss">VmRSS测试数据比较</a>
    <a href="compare_vm_data">VmData测试数据比较</a>
    <a href="compare_vm_stk">VmStk测试数据比较</a>
    <br/>
    <a href="table_vm_size">VmSize测试数据</a>
    <a href="table_vm_rss">VmRSS测试数据</a>
    <a href="table_vm_data">VmData测试数据</a>
    <a href="table_vm_stk">VmStk测试数据</a>
    <br/>
    <a href="tc_test">测试TokyoCabinet数据库</a>
    <a href="tc_table_test">TokyoCabinet数据库测试数据</a>
</body>
</html>